PORT=4000
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
ADMIN_REGISTRATION_CODE=change-this-admin-code
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/InventoryManagementApp?retryWrites=true&w=majority
